<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../tasks/task-list.html">
<link rel="import" href="../tasks/task-add.html">

<dom-module id="tasks-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <h1> List: {{list.title}}</h1>
    <task-add list-id="{{list.id}}"></task-add>
    <task-list list-id="{{list.id}}"></task-list>
  </template>

  <script>
    class TasksView extends Polymer.Element {
      static get is() { return 'tasks-view'; }
      static get properties() {
        return {
          list:{
            type: Object,
            value: {title: "MyList", id:"abc123"}
          }
        };
      }
    }

    window.customElements.define(TasksView.is, TasksView);
  </script>
</dom-module>
